<div class="citas flex flex-row flex-wrap justify-between items-start gap-8">
    <mat-card class="w-3/12 h-60">
        <mat-card-header>
            <mat-card-title>CT67282</mat-card-title>
            <mat-card-subtitle>Julio Medina</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <span>Fecha: 14/09/2021 - 4:30PM</span>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Ok</button>
        </mat-card-actions>
    </mat-card>
</div>

